!!! XHTML
%html
  %head
    %title Seichijunrei
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #page
      %h1#title
        = link_to "Seichijunrei", root_path

      = yield

